<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Example App</title>
	</head>
	<body>
		
		
		<!-- Creating basic form that is setup to post to `/upload` on our Express server, this must match the same route that we created in Express.js, so long as they match you can name it whatever you want -->
		<form ref="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
			<!-- Creating the input field with the name "sampleFile", the "sampleFile" must match the section in your Express.js route, so long as they match you can call it whatever you want -->
			<input type="file" name="sampleFile"/>
			<br><br>
			<!-- Creating submit button to actually submit the form to the backend -->
			<input type="submit" value="Upload!"/>
		</form>
		
		
	</body>
</html>
